.wrapper {
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap;
    display: flex;
    /* margin: 20px; */
    /* flex-direction: row; */
  }
  
  /* .container {
    width: 20%; 
    height: 200px; 
    display: inline-block; 
    background-color: #ccc; 
    text-align: center; 
    line-height: 200px;
    margin: 20px;
  } */
.scrollsection{
  margin-left: 20px;
  margin-bottom: 10px;
}